* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main h2{
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
}

header {
    background: linear-gradient(135deg, #2a5298);
    color: white;
    text-align: center;
    padding: 50px 20px;
}

header h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    opacity: 0.9;
}

nav {
    background-color: white;
    text-align: center;
    padding: 18px;
   
}

nav a {
    color: #1e3c72;
    text-decoration: none;
    font-weight: bold;
}

main {
    width: 90%;
    max-width: 1000px;
    margin: 35px auto;
}

#profile img {
    display: block;
    margin: auto;
}

#profile p {
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th {
    background-color: #1e3c72;
    color: white;
    padding: 14px;
    text-align: center;
}

table td {
    padding: 13px;
    text-align: center;
    border: 1px solid #ddd;
}

table tr:nth-child(even) {
    background-color: #f2f6fc;
}

table tr:hover {
    background-color: #e5edfa;
}

form {
    margin-top: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}

input,
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
}   

input:focus,
select:focus,
textarea:focus {
    border-color: #2a5298;
    box-shadow: 0 0 5px rgba(42, 82, 152, 0.3);
}

textarea {
    resize: vertical;
    min-height: 120px;
}

button {
    background-color: #1e3c72;
    color: white;
    border: none;
    padding: 13px 25px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1e3c72;
    color: white;
}

@media screen and (max-width: 768px) {
    main {
        width: 95%;
        margin: 20px auto;
    }
    table {
        display: block;
        overflow-x: auto;
    }
    button {
        width: 100%;
    }
}